<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ film.fil_titre }} </title>
</head>
<body>
    <h1> {{ film.fil_titre }} </h1>
    <img src="{{ film.fil_affiche }}">
    <p> {{ film.fil_description }} </p>
    <p> {{ film.fil_annee }} </p>
</body>
</html>